
.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:  repeat(3, auto);
    grid-gap: 3px;

    grid-template-areas: 
    "p t"
    "p t2"
    "p b" ;
}
.frontpicture {

float: left;
margin-right: 20px; /* Juster marginen mellem billedet og teksten */
width: 500px; /* Gør billedet responsivt */
grid-area: p;
margin: auto;
}

.hline {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
    grid-area:t ;
}
.text {
    margin: 5px;
    grid-area:t2 ;
}
.knap {
    background-color: pink;
    width: 50px;
    margin-left: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    grid-area: b;
}
