.about-us{
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows:  repeat(3, auto);
    grid-gap: 3px;

    grid-template-areas: 
    "t1 t1"
    "p pc"
    "p2 b" ;
 
}
.uspicture{
    grid-area: pc;
    display: block;
    width: 100%;
}
.ustext{
     grid-area: p;
     width: 90%;
}
h1{
    color: red;
}