h1{
    text-align: center;
}
.search{
    display: flex;
    justify-content: flex-end;

}
label, button{
    font-size: 20px;
    padding: 5px;
}
.box {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows:  repeat(2, auto);

    grid-template-areas: 
    "img"
    "text";
    width: 20%;
    position: relative;
}
.box img{
width: 100%;
}
.box .cover{
    grid-area: img,text;
    background-color: rgba(0, 255, 255, 0.607);
    width: 0%;
    height: 100%;
    position:absolute;
    transition: width 2s;
}
.box:hover .cover{
    width: 100%;
}