
.container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:  repeat(3, auto);
    grid-gap: 3px;

    grid-template-areas: 
    "p t"
    "p t2"
    "p b" ;
}
.frontvideo {
    grid-area: p;
    float: left;
    margin-right: 20px; /* Juster marginen mellem billedet og teksten */
    width: 500px; /* Gør billedet responsivt */
    margin: auto;
}

.hline {
    grid-area:t ;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px;
}
.text {
    grid-area:t2 ;
    margin: 5px;
}
.knap {
    grid-area: b;
    background-color: #E30A0B;
    margin: auto;
    padding: 5px;
    text-decoration: none;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 0px 50px 50px 0px;
}
.knap p{
    color: white;
}


.burger {
    background-color: #00454e; /* Baggrundsfarve til burger-menu */
    padding: 10px;
    border-radius: 5px;
    margin-left: 55%;
    width: 40%;
}
#header .navbarbutton{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    scale: 2;
}

.burperpic img {
    height: 40px; /* Juster logoets størrelse */
}
.burger a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: end;
}
.fa-bars {
    color: #f5ebd8; /* Farve på hamburger-menu-ikonet */
}

.burgeritem {
    color: #f5ebd8; /* Farve på menu-elementer */
    text-decoration: none;
    display: block;
    padding: 10px 0;
    transition: background-color 0.3s ease;
}


.burgeritem:hover {
    background-color: #393D3F; /* Farveændring ved hover */
}
