h1{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html,body{
    height: 100%;
    margin: 0px;
}
body{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows:  repeat(120px auto 150px);
    grid-gap: 3px;

    grid-template-areas: 
    "header"
    "main"
    "footer";
}
main{
    grid-area: main;
    margin: 20px;
}
header{
    grid-area: header;
    background-color: #dbd5d5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
}
.highlight{
    width: 15%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlight:hover{
    margin-top: 5px;
    border-bottom: 5px solid red;
}
.highlight p{
    text-align: center;
    font-size: 30px;
}
.headerpicture {
    width: 15%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    padding: 10px 0px;
}
.headerpicture img{
    height: 100px;

}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    background-color: #696969;
    padding: 20px;
}
footer div{
    justify-content: center;
}
footer p{
    color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: red;
}
footer i{
    color: white;
    scale: 200%;
    margin: 0px 18px;
}