h1{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
body, header, footer{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #dbd5d5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
}
footer{
    background-color: #989598;
}
.highlight{
    width: 15%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlight:hover{
    margin-top: 5px;
    border-bottom: 5px solid red;
}
.highlight p{
    text-align: center;
    font-size: 30px;
}
.headerpicture {
    width: 15%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 0px;
    padding: 10px 0px;
}
.headerpicture img{
    height: 100px;

}