h1{
    text-align: center;
}
.search{
    display: flex;
    justify-content: flex-end;

}
label, button{
    font-size: 20px;
    padding: 5px;
}
.box {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows:  200px 100px;

    grid-template-areas: 
    "img"
    "text";
    width: 20%;
    position: relative;
    overflow: hidden;
    
}
.box img{
    grid-area: img;
    width: 100%;
    max-width: 100%;
    
/* fix stretching    */
}
.box .img-text{
    grid-area: text;
}
.box .cover{
    grid-area: img,text;
    background-color: rgba(0, 255, 255, 0.715);
    margin-left: 100%;
    width: 100%;
    height: 100%;
    position:absolute;
    transition: margin-left 1.2s ease;
}
.box:hover .cover{
    margin-left: 0%;
}