.about-us{
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows:  repeat(3, auto);
    grid-gap: 3px;

    grid-template-areas: 
    "h1 h1"
    "p pc"
    "h2 h2"
    "p2 b" ;
 
}
.uspicture{
    grid-area: pc;
    display: block;
    width: 100%;
}
#picturegallery{
 height: 200px;
}
.arrows{
    font-size: 200px;  
    height: 200px; 
}

.ustext{
     grid-area: p;
     width: 90%;
}
.recycletext{
    grid-area: p2;
}
.readmore{
    grid-area: b;
    background-color: red;
}